extends layout

block content
  h1= Login
  if (locals.error)
    div.error.col-md-12
      p locals.error
  form(name="login_form", method="post")
    div.col-md-12
      div.form-group.col-md-3
        label(for='username') Username
        input.form-control#username(type="text", name="username")
    div.col-md-12
      div.form-group.col-md-3
        label(for='password') Password
        input.form-control#password(type="password", name="password")
    div.col-md-12
      div.actions
        input.btn.btn-default(type="submit", value="login")

  div.col-md-12
    a(href="/register") Register
