extends layout

block content
  h1= "Create Manager"
  if (locals.error)
    div.error.col-md-12
      p locals.error
  form(name="create_manager", method="post")
    div.col-md-12
      div.form-group.col-md-3
        label(for='email') Email
        input.form-control#email(type="text", name = "email")
    div.col-md-12
      div.form-group.col-md-3
        label(for='preceintid') Preceint ID
        input.form-control#verification(type="text", name = "preceint")
    div.col-md-12
      div.actions
        input.btn.btn-default(type="submit", value="Create Manager")