extends layout

block content
  h1= "Register!"
  form(name="register_form", method="post")
    div.col-md-12
      div.form-group.col-md-3
        label(for='firstName') First Name
        input.form-control#firstname(type='text', name = "firstname")
    div.col-md-12
      div.form-group.col-md-3
        label(for='lastname') Last Name
        input.form-control#lastname(type='text', name = "lastname")
    div.col-md-12
      div.form-group.col-md-3
        label(for='address1') Address Line 1
        input.form-control#address1(type='text', name = "address1")
    div.col-md-12
      div.form-group.col-md-3
        label(for='address2') Address Line 2
        input.form-control#address2(type='text', name = "address2")
    div.col-md-12
      div.form-group.col-md-3
        label(for='city') City
        input.form-control#city(type='text', name = "city")
    div.col-md-12
      div.form-group.col-md-3
        label(for='city') State
        input.form-control#state(type='text', name = "state")
    div.col-md-12
      div.form-group.col-md-3
        label(for='city') ZIP 
        input.form-control#zip(type='text', name = "zip")
    br
    div.col-md-12
      div.form-group.col-md-3
        label(for='city') Email
        input.form-control#email(type='text', name = "email")
    div.col-md-12
      div.form-group.col-md-3
        label(for='city') Password
        input.form-control#password(type='password', name = "password")
    div.actions.col-md-12
      input.btn.btn-primary(type="submit", value="Submit")
