extends layout

block content
  h1= "Register!"
  form(name="register_form", method="post")
    div.input
      span.label First Name
      input(type="text", name="firstName")
    div.input
      span.label Last Name
      input(type="text", name="lastName")
    div.input
      span.label Address Line 1
      input(type="text", name="address1")
    div.input
      span.label Address Line 2
      input(type="text", name="address2")
    div.input
      span.label City
      input(type="text", name="city")
    div.input
      span.label State 
      input(type="text", name="state")
    div.input
      span.label ZIP 
      input(type="text", name="zip")
    br
    div.input
      span.label Email 
      input(type="text", name="email")
    div.input
      span.label Password
      input(type="text", name="password")
    div.actions
      input(type="submit", value="Submit")
