extends ../layout

block content
  div.col-md-12
    h1= "Admin Home Page"
    a.btn.btn-danger(href="/") Log Out
    br
    br
    a.btn.btn-primary(href="/admin/createmanager") Create New Manager
    br
    br
    a.btn.btn-primary(href="/admin/createadmin") Create New Admin
    br
    br
    a.btn.btn-primary(href="/admin/createcandidate") Create New Candidate
    br
    br
    a.btn.btn-primary(href="/admin/createelection") Create New Election
    br
    br
    a.btn.btn-success(href="/admin/viewresults") View Election Results

